
/* Set padding to keep content from hitting the edges */
/*Pontus CSS för tabeller*/
#meddelanden {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}

    #meddelanden td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #meddelanden tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #meddelanden tr:hover {
        background-color: #ddd;
    }

    #meddelanden th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: limegreen;
        color: white;
    }

/*William CSS*/
.header {
    overflow: hidden;
    background-color: white;
    padding: 20px;
    height: 120px;
}
/* Style the header links */
.header-bottom a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 50px;
    font-weight: bold;
    color: limegreen;
}

/* Change the background color on mouse-over */
.header-bottom a:hover {
    background-color: limegreen;
    color: black;
}


/* Float the link section to the right */
.header-bottom {
    margin-left: 20%;
    height: 50px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.line2 {
    height: 2px;
    background-color: dimgray;
    overflow: hidden;
}

#company_logo {
    width: 200px;
    height: 200px;
    background-image: url(Images/finderlogo.png);
    float: left;
    text-align: center;
}

.header input[type=text] {
    margin-left: 22%;
    width: 340px;
    height: 50px;
    border-radius: 14px 0px 0px 14px;
    font-size: 18px;
}

.header input[type=submit] {
    border-radius: 0px 14px 14px 0px;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    height: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    height: 80px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}
/*Footer*/
.footer {
    background-color: black;
    height: 90px;
    width: auto;
    overflow: auto;
    margin-top: 3.5%;
}

    .footer .logo1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
/*FredriksCSS*/

.outercontainer {
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: auto 0px auto;
    grid-gap: 5px;
    padding-bottom: 5%;
    position: relative;
    overflow: auto;
}

.inboxbanner {
    background-color: #019900;
    color: white;
}

.inboxcontainer {
    background-color: #414040;
    margin-left: 40%;
    padding-bottom: 10px;
    overflow: scroll;
    max-height: 500px;
    position: relative;
    max-width: 600px;
    max-height: 500px;
}

.messagecontainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px 10px;
    overflow: auto;
    position: relative;
    max-width: 600px;
    max-height: 500px;
}

.darker {
    border-color: lightgrey;
    background-color: #469900;
}

.messagecontainer::after {
    content: '';
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


.activemessagecontainer {
    background-color: white;
    border-color: #a3a6a6;
    margin-right: 15%;
    max-width: 600px;
    max-height: 500px;
    overflow: scroll;
    height: 75%;
    position: relative;
    padding-bottom: 10px;
}

.activemessagebanner {
    background-color: #019900;
    color: white;
    position: relative;
}

.activemessage {
    padding: 10px;
    margin: 10px 10px 10px;
}


.line {
    border: 2px solid;
    border-color: #a6a6a6;
    height: 50%;
    margin-top: 105px;
}

.answerbox {
    background-color: white;
    border-color: #d1d9d9;
    width: 84%;
    margin-left: 0%;
    resize: none;
    position: relative;
    max-width: 600px;
    max-height: 500px;
}

button {
    color: #FFF;
    background-color: #469900;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 84%;
    height: 44px;
    border: 1px solid;
    border-width: 1px 1px 3px;
    max-width: 600px;
    max-height: 500px;
}

.empty {
    height: 500px;
}



.bodyStyle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
}

.form-controll {
    margin-left: 79%;
    display: block;
    width: 20%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btnn {
    display: inline-block;
    padding: 6px 12px;
    margin-left: 35%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    white-space: nowrap;
    width: 20%;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-defaultt {
    color: #331333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.input-groupp {
    position: relative;
    display: table;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color:whitesmoke;
}
a:hover{
    color: black;
}

.profile-wrapper {
    width: 200px;
    position: relative;
}

    .profile-wrapper::after {
        content: '';
        top: 20px;
        right: 10px;
        border-color: #419900 transparent transparent;
        border-width: 6px;
        border-style: solid;
    }

    .profile-wrapper::before {
        content: '';
        position: absolute;
        top: 20px;
        right: 10px;
        border-color: #eee transparent transparent;
        border-width: 6px;
        border-style: solid;
    }

    .profile-wrapper:hover::after {
        border-color: #111 transparent transparent;
    }

.profile {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 1px 0 #cccccc inset, 0 1px 7px #111;
    background: -webkit-linear-gradient(#222, #469900);
}

    .profile:hover {
        cursor: pointer;
        background: -webkit-linear-gradient(#1f1f1f, #469900);
    }

    .profile .name {
        font-size: 22px;
        color: #fff;
        line-height: 26px;
        margin-left: 10px;
    }

        .profile .name:hover {
            color: #23d623;
        }

    .profile img {
        width: 25px;
        display: inline;
        float: left;
        border: 1px solid #111;
        border-radius: 3px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
    }

/* hide menu */
.menu {
    display: none;
    clear: both;
    margin: 20px 0 0 0;
}

    .menu li {
        font-size: 12px;
        margin: 0;
        padding: 10px 4px;
    }

        .menu li a {
            color: #111;
        }

        .menu li:hover > a {
            color: #eee;
        }

        .menu li:hover {
            border-left: 1px solid #111;
            border-right: 1px solid #222;
            border-bottom: 1px solid #222;
            border-top: 1px solid #111;
            border-radius: 3px;
        }

/* hover profile show menu */
.profile:hover .menu {
    display: block;
}

imgg {
    vertical-align: middle;
}

.img-responsivee {
    display: block;
    height: auto;
    max-width: 100%;
}

.navbarr {
    position: relative;
    z-index: 1000;
    height: 50%;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
