
/* Set padding to keep content from hitting the edges */
.body-content {
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 20px;
    height: 120px;
}
/* Style the header links */
.header-bottom a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 50px;
    font-weight: bold;
    color: limegreen;
}

/* Change the background color on mouse-over */
.header-bottom a:hover {
    background-color: limegreen;
    color: black;
}


/* Float the link section to the right */
.header-bottom {
    margin-left: 35%;
    height: 50px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.line {
    height: 2px;
    background-color: dimgray;
    overflow: hidden;
}

#company_logo {
    width: 200px;
    height: 200px;
    background-image: url(Images/finderlogo.png);
    float: left;
    text-align: center;
}

.header input[type=text] {
    margin-left: 22%;
    width: 340px;
    height: 50px;
    border-radius: 14px 0px 0px 14px;
    font-size: 18px;
}

.header input[type=submit] {
    border-radius: 0px 14px 14px 0px;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    height: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    height: 80px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}
/*Footer*/
.footer {
    background-color: black;
    height: 90px;
    width: auto;
    overflow: auto;
}

    .footer .logo1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
